{% extends 'base.html' %}
{% load sidebar %}

{% block title %}Новый пароль{{ block.super }}{% endblock %}

{% block content %}
<div class="auth-wraper">
    <div class="auth-main center">
        <div class="auth-left">
            <h1>Новый пароль</h1>
            <form action="" method="POST" class="form-auth">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="field-error">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <p>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="field-error">{{ error }}</span>
                        {% endfor %}
                    </p>
                {% endfor %}
                <p><input type="submit" value="Сохранить"></p>
            </form>
        </div>
        <div class="sidebar">
            {% get_sidebar %}
        </div>
    </div>
</div>
{% endblock %}