{% load static %}


{% for item in posts %}
    <div class="posts-item">
        <a href="{{ item.get_absolute_url }}" class="posts-img">
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="">
            {% else %}
                <img src="{% static 'images/no-image.jpg' %}" alt="">
            {% endif %}			
        </a>
        <div class="posts-wraper-txt">
            <p class="post-title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></p>
            <div class="post-txt">
                {{ item.content|striptags|truncatewords:12 }}								
            </div>
            <div class="stars-wraper">					
                <div class="stars-right">
                    <a href="{{ item.get_absolute_url }}" class="link-more">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}